body {
  padding: 0;
  margin: 0;
}

h1 {
  font-size: 20px;
  color: orangered;
}

.site-title {
  padding-left: 20px;
  color: orchid;
  font-size: 2em;
  text-shadow: -2px -2px 2px gray;
}

AppHeader {
  background-color: gray;
}

.screen {
    display: flex;
    justify-content:space-around;
}

header {
  display: flex;

  background-color: black;
  height: 80px;
}

.app {
  display: flex;
  flex-direction: column;
}

.game {
  border: 2px solid gray;
  padding: 10px;
  margin-top: 30px;
  width: 200px;
  height: 400px;
  align-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.board {
  width: 100%;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cells {
  width: 180px;
}
.cell {
  width: 60px;
  height: 60px;
  background-color: white;
}

.status1 {
  font-size: 1.5em;
  font-weight: bold;
}

.status {
  display: flex;
  width: 95%;
  padding: 10px;
  justify-content: space-between;
  font-family: Courier;
  background-color: rgba(0, 0, 0, 0.678);
  color: #fff;
}

.scoreCard {
  margin-top:40px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  padding: 2px 16px;
  border-radius: 5px;
  height: 560px;
  width: 130%;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.144);
}

.scoreCard:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.scoreHeading {
  background-color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  color: orchid;
  height: 50px;
  text-transform: uppercase;
}

.reset-button {
  width: 100%;
  background-color: rgb(231, 105, 105);
  color: white;
  padding: 10px;
}
